{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}
  <form enctype="multipart/form-data" method="post" class="form-example">
    {% csrf_token %}
    {% for field in user_form %}
      <div class="py-2">
        <span>{{ field.label_tag }}</span>
        {{ field }}
      <p class="range_label d-inline-block"></p>
      {% for error in field.errors %}
        <p class='text-danger'> {{ error|escape }} </p>
      {% endfor %}
      </div>
    {% endfor %}
    <p>Коллекции дизайнера:
      {% for collection in collections %}
        {{ collection.name }}&nbsp;&nbsp;&nbsp;
      {% endfor %}
    </p>
    {% for field in designer_form %}
      <div>
        <span>{{ field.label_tag }}</span>
        {{ field }}
      </div>
      <p class="range_label d-inline-block"></p>
    {% endfor %}
    {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
            <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
            {% if page_obj.has_next %}
              <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
          </span>
      </div>
    {% endif %}
  </form>
{% endblock %}
