{% extends 'core/base.html' %}

{% block content %}
	<h1 class="text-center mb-3">designers</h1>
  <section class="container my-3 d-flex gap-4 row justify-content-start">
    {% for designer in designers %}
      <a href="{% url 'clothes:designer' pk=designer.id %}">{{ designer.first_name }}</a>
      {% include 'includes/designer_card.html' %}
    {% endfor %}
  </section>
	<h1 class="text-center mb-3">collections</h1>
	{% for collection in collections %}
    {% if collection.items.count %}
		  {% include 'includes/collection_card.html' %}
    {% endif %}
	{% endfor %}
	<h1>unpopular</h1>
  <div class="item-table d-flex flex-row flex-wrap justify-content-center">
    {% for item in unpopular %}
      {% include 'includes/card.html' %}
    {% endfor %}
  </div>
{% endblock %}
