{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}
  {% if designers %}
    <div class="head-view">
      <h1 class="head-view-category">{% trans 'Популярные дизайнеры' %}</h1>
    </div>
    {% for designer in designers %}
      <a href="{% url 'clothes:designer' pk=designer.id %}">{{ designer.name }}</a>
      <p class="head-view-category-detail">
        {% trans 'Они нравятся большей части нашей аудитории, посмотрите, может вам понравится что то из их работ' %}
      </p>
    {% endfor %}
  {% endif %}
  {% if collections %}
    <div class="head-view">
      <h1 class="head-view-category">{% trans 'Популярные коллекции' %}</h1>
      <p class="head-view-category-detail">
        {% trans 'Эти коллекции больше всего понравились нашим пользователям, попробуйте эти вещи на себе!' %}
      </p>
    </div>
    {% for collection in collections %}
      {% if collection.items.count %}
        {% include 'includes/collection_card.html' %}
      {% endif %}
    {% endfor %}
  {% endif %}
  <div class="head-view">
	  <h1 class="head-view-category">{% trans 'Недооценённые работы' %}</h1>
    <p class="head-view-category-detail">
      {% trans 'Мы стараемся помочь каждому дизайнеру стать популярным, поэтому публикуем их работы здесь.' %}
    </p>
  </div>
  <div class="item-table d-flex flex-row flex-wrap justify-content-center">
    {% for item in unpopular %}
      {% include 'includes/card.html' %}
    {% endfor %}
  </div>
{% endblock %}
